:root{
  --accent-color: #416fc6;
  --blur-amount:50px;
  --corner-radius:15px;
  --almost-black:#1e1e1e;
  --blur-background: #ffffffab;
  --blur-foreground: #ffffff80;
  --blur-foreground-bright: #ffffffc9;
  --drop-shadow: 0 0 9px #0000006e;
}

#logo{
  visibility: hidden;
}
a:hover {
  text-shadow: 0 0 8px white;
}
#sidebar{
  top: 25px !important;
  bottom: 25px !important;
  right: 25px !important;
  height: auto !important;
  background-image:none;
  background: var(--blur-background);
  backdrop-filter: blur(var(--blur-amount));
  border: none;
  border-radius: var(--corner-radius);
  box-shadow: var(--drop-shadow);
}
#sidebar.app.collapsed {
  width: 28px !important;
  height:400px !important;
  background: var(--blur-background);
  /*backdrop-filter:blur(5px) !important;*/
}
#sidebar.collapsed #sidebar-tabs > .item.active {
    border:none;    
}
#sidebar-tabs{
  margin-top: 10px;
  /* margin-left: 5px; */
  border: none;
  box-shadow: none;
  color: var(--almost-black);
}
#sidebar-tabs > .item.active{
  color: var(--accent-color);
  border: none;
  box-shadow: none;
  text-shadow: none;
  font-size: 20px;
}
#sidebar-tabs > .collapse{
  color:var(--almost-black);
  /* display: none; */
}

::-webkit-scrollbar-thumb { 
  background: #ffffff85;
  border: none;
  box-shadow: none;
}

textarea:focus {
  outline:none;
  box-shadow: 0 0 10px #fffefd;
}

/*================chat===============*/

#chat-log .message {
    border: none;
    border-radius: var(--corner-radius);
    margin-top: 10px;
    margin-bottom: 10px;
    background: var(--blur-foreground);
    background-image: none;
    /* color: white; */
}

.chat-message .message-header {
    line-height: 30px;
    font-size: 12pt;
   
}

#chat-controls .chat-control-icon,.control-buttons {
    flex: 0;
    color: var(--almost-black);
}

#chat-controls .roll-type-select {
    width: 20px;
    height: 24px;
    border-radius: var(--corner-radius);
    margin: 0 6px;
    background: #ffffff70;
}

#chat-form textarea{
  background: var(--blur-foreground);
  border: none;
  border-radius:var(--corner-radius);
}
.chat-message .message-header .message-sender {
    flex: 3;
    margin: 0;
    color: var(--almost-black);
    white-space: nowrap;
}
/*===============  COMBAT   ======================*/

#combat #combat-round .encounters a, 
#combat #combat-round .encounters h4, 
#combat #combat-round .encounters h3,
#combat li.combatant .token-resource{
  color: var(--almost-black);
  backdrop-filter:invert;
  border: none;
}

#combat #combat-controls {
  color: var(--almost-black);
  background: var(--blur-foreground);
  border: none;
}

#combat li.combatant .token-name .combatant-control{
  color: var(--almost-black);
}
#combat li.combatant.active {
    background: var(--blur-foreground);
    font-size:12pt;
}
#combat li.combatant .token-name {
    flex: 1;
    overflow: hidden;
    margin: 0 5px;
    text-shadow:none;
    color:black;
}

#combat #combat-round{
  border:none;
}
#combat li.combatant .token-name h4 {
  font-size:13pt;
  font-weight: 600;
}
#combat li.combatant .roll{
  /* color: #c02525; */
  /* color: blue; */
}
/*=====================controls=======================*/

#controls{
  top: 0px;
  left: 0px;
  /* background: white; */
}
#controls .control-tool.toggle{
  background:var(--blur-background);
  border:none;
}
#controls .control-tool.toggle.active, #controls .control-tool.toggle:hover{
  background:var(--accent-color);
  color:white;
}
#controls .scene-control, #controls .control-tool{
  width:50px;
  height: 50px;
  top: 0px;
  line-height: 50px;
  margin: 10px;
  background: var(--blur-background);
  /* backdrop-filter: blur(var(--blur-amount)); */
  border-radius: var(--corner-radius);
  box-shadow: var(--drop-shadow);
  border: none;
  color: var(--almost-black);
}

#controls .control-tools{
  top: 0px;
  left: 60px;
  /* width: 40px; */
  /* height: 200px; */
  /* position: fixed; */
  /* padding: 10px; */
  margin: 10px;
}
#controls .active .control-tools{
  /* background: var(--blur-background) !important; */
}
#controls .scene-control.active, #controls .control-tool.active, #controls .scene-control:hover, #controls .control-tool:hover{
  
border: none;
  
box-shadow: none;
  
color: var(--accent-color);
}
/*==================== NVAVIGATION ================*/
#navigation{
  top: 0;
  margin: 0;
  position: absolute;
  left: 50%;
  transform: translate(-50%,0);
  width: auto;
  flex-wrap: nowrap;
  /* display: grid; */
  flex-direction: column-reverse;
}
#navigation #scene-list{
  flex-wrap: wrap;
}
#navigation #nav-toggle{
  left: calc(50% - 42px);
  transform: translate(-50px,0);
  background: var(
  --blur-background) !important;
  border: none;
  border-radius: 5px;
  height: 16px;
  top: -8px;
  width: 60px;
  flex: 0 0 20px;
  font-size: 20pt;
  color: var(
  --almost-black);
}
#navigation #nav-toggle:hover{
  text-shadow:0 0 10px white;
}
#navigation .nav-item{
  width: 120px;
  box-shadow: var(--drop-shadow);
  height: 30px;
  font-size: 9pt;
  text-align: center;
  flex-wrap: nowrap;
  margin: 10px;
  white-space:nowrap;
  border: none !important;
  border-radius: 10px;
  background: var(--blur-background) !important;
  color: var(--almost-black);
  font-weight: 700;
  /*backdrop-filter: blur(10px);*/
}
#navigation #scene-list .scene.view, #navigation #scene-list .scene.context{
  box-shadow:0 0 4px var(--accent-color);
}
#navigation #scene-list .scene.view, #navigation #scene-list .scene.context{
  color: var(--accent-color);
  white-space:nowrap;

}
#navigation #scene-list .scene ul.scene-players{
  bottom: 0px;
  top: auto;
  left: 5px;
}

#context-menu{
  
background: var(--blur-foreground-bright);
  
backdrop-filter: blur(5px);
  
color: var(--almost-black);
  
border: none;
  
border-radius: var(--corner-radius);
  
overflow: auto;
  
/* position: fixed; */
  
/* z-index: 1107; */
}

/*======================hotbar====================*/
#hotbar,.players-hidden #hotbar{
  left: calc(50% - 290px);
}

#hotbar #action-bar{
  
flex-wrap: nowrap;
}

#hotbar #macro-list{
  background:none;
  border:none;
  border-radius: 0;
  flex: 0 0 540px;
  margin: 0;
}

#hotbar .macro{
  margin: 0 2px 0 2px;
  border:none;
  box-shadow:none;
  background: var(--blur-background);
  border-radius: var(--corner-radius);
  backdrop-filter:blur(15px);
}

#hotbar .macro .macro-icon{
  border-radius: var(--corner-radius);
  
  margin:0;
  border:none;
  width: 52px;
  height: 52px;
}
#hotbar .macro.inactive{
  box-shadow: var(--drop-shadow);
  border: none;
}
#hotbar .macro .macro-key{
  background: none;
  color: var(--almost-black);
  text-shadow: 0 0 4px white;
}
#hotbar .bar-controls{
  border: none;
  background: var(--blur-background);
  color: var(--almost-black);
  border-radius: 8px;
  box-shadow: none;
  backdrop-filter: blur(3px);
}
#hotbar .bar-controls span.page-number{
  line-height: 14px;
}

.macro-sheet .form-group.command textarea{
  border:none;
  border-radius: var(--corner-radius);
  background:var(--blur-foreground);
}
/*=======================scenes========================*/

.sidebar-tab .action-buttons button{
  background:#ffffff70;
  border-radius: var(--corner-radius);
}
.sidebar-tab .directory-header .header-search > *{
  color:var(--almost-black);
}
.sidebar-tab .directory-header .header-search input{
  background: var(--blur-foreground);
  color: var(--almost-black);
  border: none;
  border-radius: var(--corner-radius);
}

li.folder.collapsed > .folder-header{
  background: var(--blur-foreground);
  color: var(--almost-black);
  border: none;
}
li.folder > .folder-header .create-folder, li.folder > .folder-header .create-entity{
  color: var(--almost-black);
}
li.folder > .folder-header{
  background: var(--accent-color);
  color: var(--almost-black);
  border-top: 1px solid black;
  border-bottom: none;
}
#scenes .scene{
  border: none;
  margin: 6px 4px 6px 4px;
  border-radius: var(--corner-radius);
  background: var(--blur-foreground);
  cursor: pointer;
  box-shadow: none;
}
.sidebar-tab .directory-list .entity{
  border: none;
}
.subdirectory{
  border-left:none;
  box-shadow: inset 0px 7px 10px #00000038;
}
#scenes .subdirectory{
  border:none;
  box-shadow:none;
}
#scenes .scene h3{
  text-shadow:none;
  color: #ffffff;
  text-shadow: 0 0 20px #00000059;
}
.scene-sheet .form-header h3,
.scene-sheet .form-header{
  border:none;
}  
form .form-group .form-fields button{
  border-radius:8px;
  border:none;
}
form button{
  border:none;
}

input[type="text"], input[type="number"], input[type="password"], input[type="date"], input[type="time"]{
  
border: none;
  
border-radius: var(--corner-radius);
}
select{
  border:none;
  border-radius: var(--corner-radius);
}

input[type="color"][data-edit][data-edit]{
  border:none;
  border-radius: var(--corner-radius);
}

#journal li.journal .entity-name,.sidebar-tab .directory-list .directory-item h3, 
.sidebar-tab .directory-list .directory-item h4{
  color: var(--almost-black);
}

#playlists li.playlist .playlist-header{
  text-decoration:none;
}

#playlists li.playlist .sound-control{
  color: var(--almost-black);
}
#compendium h3, h1, h2, h3, h4{
  color: var(--almost-black);
}

footer{
  color: var(--almost-black);
}
/*====================== COMPENDIUM ================*/
.compendium .directory-list .directory-item{
  border:none;
}
/*========================== Players ==================*/
#players{
  background:var(--blur-background);
  /*backdrop-filter: blur(var(--blur-amount));*/
  border-radius: var(--corner-radius);
  border: none;
  box-shadow: var(--drop-shadow);
}
#players h3{
  border:none;
}
#players h3 .players-mode{
  color: var(--almost-black);
}

#players ol .player-name.self{
  color:var(--almost-black);
}
/*==========================   App Window =============*/
.app{
  
background: none;
  
box-shadow: none;
}
.window-app{
  border-radius: var(--corner-radius);
  background: none;
  backdrop-filter: blur(var(--blur-amount));
  box-shadow: var(--drop-shadow);
  border: none;
}
.app.sidebar-popout{
  border:none;
  background:var(--blur-background);
}
.window-app .window-header{
  
background: var(--blur-foreground-bright);
  
border-radius: var(--corner-radius) var(--corner-radius) 0 0;
  
color: var(--almost-black);
  
border: none;
}

.window-app .window-content{
  background: var(--blur-background);
  border-radius: 0 0 var(--corner-radius) var(--corner-radius);
  border: none;
}
.window-app .window-resizable-handle{
  
background: none;
  
border: none;
  
color: var(--almost-black);
}

#settings #game-details{
  color: var(--almost-black);
}

button{
  background: var(--blur-foreground) !important;
  border: none !important;
  border-radius: var(--corner-radius);
}
button:hover,
button:focus {
  outline: none;
  box-shadow: 0 0 5px white;
}
/*====================== Misc ========================*/

.filepicker .display-modes a{
  background:none;
  border:none;
}
.filepicker .display-modes a.active{
  border:none;
  background:none;
  color: var(--accent-color);
  text-shadow:none;
}
.filepicker .directory{
  border:none;
  border-radius: 10px;
}
.filepicker .directory > li{
  border:none;
}
.filepicker .directory > li.picked{
  background: var(--blur-foreground);
  color: var(--almost-black);
}
.filepicker .directory > li:hover{
  text-shadow:none;
  background: var(--blur-foreground-bright);
}
.filepicker .tiles-list li.picked{
  box-shadow:none;
}

#settings button{
  margin: 6px!important;
}
#menu{
  background: var(--blur-background);
  backdrop-filter: blur(var(--blur-amount));
  color: var(--almost-black);
  box-shadow: var(--drop-shadow);
}
#menu #menu-items li:hover {
  text-shadow: 0 0 10px #ffffff;
}
/*===================== D&D SPECIFIC =================*/

.dnd5e.chat-card {
    font-size: 13px;
    font-family: arial;
    /* font-weight: 700; */
}

.dnd5e.chat-card .card-header {
    padding: 3px 0;
    border-top: none;
    border-bottom: none;
}
.dnd5e.chat-card .card-buttons {
    margin: 5px 0;
    border: none;
}
.dnd5e.sheet .window-content{
  background:var(--blur-background);
}
.dnd5e button {
    background: rgba(0, 0, 0, 0.1);
    border: none;
    border-radius: var(--corner-radius);
}
button:hover {
  box-shadow:blue;
}

.dice-roll .dice-formula {
    margin-bottom: 5px;
    border-radius:var(--corner-radius);
}
.dice-roll .dice-total {
    border-radius:var(--corner-radius);
    flex: 0;
    font-size: 20px;
    font-weight: bold;
}
.dice-roll .dice-total.critical {
    color: #007a21;
    background: #00ff1669;
}
.dice-tooltip .dice-rolls .roll.max{
  color: #005100;
  filter: sepia(1.5) hue-rotate(60deg);
}
.dice-tooltip .dice-rolls .roll.min{
  color: #780000;
  filter: sepia(1) hue-rotate(300deg);
}
.dice-roll .dice-total.fumble {
    color: #720000;
    background:#ff000070;
}

.dnd5e.sheet .sheet-header img.profile,.dnd5e.sheet .sheet-header{
  border:none;
}
.dnd5e.sheet .sheet-header .summary,.dnd5e.sheet.actor .sheet-header .summary{
  border-top:1px solid #00000029;
  border-bottom:1px solid #00000029;

}
.dnd5e.sheet .sheet-header .summary li,.dnd5e.sheet.actor .sheet-header .attributes .attribute{
  border-right:1px solid #00000014;
}
.dnd5e.sheet.actor h4.box-title{
  border:none;
}
.dnd5e.sheet.actor .ability-scores,.dnd5e.sheet.actor ul.skills-list{
  border:1px solid #00000014;
  border-radius: var(--corner-radius);
}
.dnd5e.sheet.actor .ability-scores .ability{
  border-bottom:1px solid #00000014;
}
.dnd5e.sheet.actor .ability-scores .ability .ability-modifiers span.ability-mod,
.dnd5e.sheet.actor .ability-scores .ability .ability-modifiers span.ability-save{
  border:none;
}

.dnd5e.sheet input[type="text"], .dnd5e.sheet input[type="number"]{
  border-radius:10px;
  box-shadow:none;
  border:none;
}
.dnd5e.sheet.actor ul.attributes li.attribute{
  border:1px solid #00000014;
  border-radius: var(--corner-radius);
}

.dnd5e.sheet.actor .encumbrance{
  border: none;flex: 0 0 14px;background: var(--blur-foreground);border-radius: 5px;
}
.dnd5e.sheet.actor .encumbrance .encumbrance-bar{
  height: 14px;  
  top: 0;
  left: 0;
  border-radius: 5px;
  border: none;
}
.dnd5e.sheet.actor .encumbrance .encumbrance-label{ 
  right: auto;
  left: auto;
  text-align: center;
  width: 100%;
  top: 1px;
  color: var(--almost-black);
  text-shadow: none;
  font-size: 11pt;
  font-weight: 600;
}
.dnd5e.sheet.actor .counters{
  border:none;
}
.tabs .item.active{
  text-shadow:none;
  color: var(--accent-color);
}
.dnd5e.sheet .sheet-navigation .item.active,.dnd5e.sheet .filter-list .filter-item.active{
  border-bottom:2px solid;
}
.dnd5e.sheet .items-list .items-header,.dnd5e.sheet .items-list .item,.dnd5e .form-header{
  border:none;
}
.dnd5e.sheet.actor .inventory-filters .currency input[type="text"],
.dnd5e.sheet.actor .inventory-filters .currency input[type="text"]{
  border:none;
  background: var(--blur-foreground);
}
.dnd5e.sheet.item .sheet-body .item-properties .properties-list li{
  border:none;
  border-radius: 10px;
  background: var(--blur-foreground);
}
.dnd5e.sheet.item .sheet-body .item-properties{
  border-right:1px solid #00000014;
}

/*==================== HUD ==============================*/
.placeable-hud .control-icon{
  background: var(--blur-background);
  backdrop-filter: blur(var(--blur-amount));
  color: var(--almost-black);
  border:none;
}
.placeable-hud input[type="text"]{
  background: var(--blur-background);
  border:none;
  backdrop-filter:blur(var(--blur-amount));
  color: var(--almost-black);
}
#token-hud .attribute i.fas{
  color:var(--almost-black);
  z-index: 1;
}
#token-hud .status-effects{
  background: var(--blur-foreground-bright) !important;
  border:none;
  color:  black !important;
  border-radius: var(--corner-radius);
  /* backdrop-filter: blur(var(--blur-amount))!important; */
  box-shadow: var(--drop-shadow);
}
.placeable-hud .control-icon img,#token-hud .status-effects .effect-control{
  -webkit-filter: brightness(0);
  
}
/* Monks status effects */
#token-hud.monks-little-details .status-effects .effect-name{
  color: var(--almost-black) !important;
}
#pause{
  background: none;
  z-index: 10;
  /* backdrop-filter: blur(var(--blur-amount)); */
}
#pause img{
  -webkit-animation: rotation 2s infinite cubic-bezier(0, 1, 1, 0);
  content: url("../ui/hourglass-half-solid.svg");
  -webkit-filter: invert();
  height: 50px;
}

/*======================== CAMERA WINDOW =====================*/
#camera-views{
  left:0px;
}

#camera-views .video-container{border-radius: 15px;background: none;}
#camera-views.camera-size-medium .camera-box-dock,
#camera-views.camera-size-small .camera-box-dock,
#camera-views.camera-size-large .camera-box-dock,
.window-content .camera-view, .camera-box-popout{
  border: none;
  box-shadow: var(--drop-shadow);
  border-radius: var(--corner-radius);
  background:#ffffffa6;
  backdrop-filter:blur(var(--blur-amount));
}
.camera-view .player-name{
  border-radius: 0 0 10px 10px;
}
#camera-views .video-container img.user-avatar.local-camera, #camera-views .video-container video.user-camera.local-camera{
  border-radius: 15px 15px 0px 0px;
}
.camera-view .control-bar, .camera-view .notification-bar{
  background: none;
  border: none;
  margin: 6px;
  color: #ffffff !important;
}
.camera-view .av-control i{
  color:var(--blur-foreground-bright);
}
#camera-views .video-container img.user-avatar, #camera-views .video-container video.user-camera{
  background: #ffffff73;
  border-radius: var(--corner-radius);
}
#camera-views .video-container img.user-avatar, #camera-views .video-container video.user-camera{
  background:var(--almost-black);
  border-radius: 15px 15px 0 0;
}
/*================== NOTIFICATIONS ==================*/
.notification.warning{
  background:#e5b70fd1;
  border: none;
  border-radius: var(--corner-radius);
  backdrop-filter: blur(var(--blur-amount));
  font-size: 12pt;
}
.notification.info{
  ackground:#3a6affc4;
  border: none;
  border-radius: var(--corner-radius);
  backdrop-filter: blur(var(--blur-amount));
  font-size: 12pt;
}
.notification.error{
  background:#c40e0e8c;
  border: none;
  border-radius: var(--corner-radius);
  backdrop-filter: blur(var(--blur-amount));
  font-size: 12pt;
}

/*================ LOADING ============================*/
#loading{
  border:none;
  box-shadow:none;
  top: 0 !important;
  background: #ed000000;
  height: 100%;
  left: 0;
  width: 100%;
  backdrop-filter: blur(100px);
  border-radius: var(--corner-radius);
  pointer-events: none;
}

#loading #loading-bar{
  top: 100px;
  height: 20px;
  left: calc(50% - 39.5%);
  width: 69% !important;
  background: var(--accent-color);
  border: none;
  border-radius: var(--corner-radius);
}

#loading label,#loading #progress{ 
  background: none;
  top: 2px;
  text-shadow: none;
}

/*=================== TIDY SHEET =====================*/

.tidy5e.sheet.actor #item-info-container{
  display:none;
}
.tidy5e.sheet.actor #item-info-container.open{
  display:flex;
}

/*=================== CALENDAR/TIME =================/

#calendar-time-container{
    height: auto!important;
    display: flex !important;
    border-radius: 0 !important;
    background: none !important;
    color: rgb(255 255 255) !important;
    top: 0px !important;
    left: 0px !important;
    flex: 0 0 32px;
    right: 0px !important;
}

/*==================== Simple Dice Roller ===========*/
.simple-dice-roller-popup{
  background: var(--blur-background) !important;
  color: var(--almost-black) !important;
  border: none !important;
  border-radius: var(--corner-radius) !important;
  margin: 10px !important;
  backdrop-filter: blur(10px);
}
.simple-dice-roller-popup li:hover {
  border:none !important;
  border-right:1px solid #333;
  background: var(--blur-foreground);
  box-shadow:none !important;
}
